.cell-day {
    width: 15px;
    height: 15px;
    background-color: #EDEDED;
    box-sizing: border-box;
}

.cell-day:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.cell-day:active {
    background-color: #527BA0;
    border: 1px solid rgba(0, 0, 0, 0.9);
}

.cell-day.selected {
    background-color: #527BA0;
    border: 1px solid rgba(0, 0, 0, 0.9);
}

.light-blue {
    background-color: #ACD5F2;
}

.blue {
    background-color: #7FA8C9;
}

.dark-blue {
    background-color: #527BA0;
}

.deep-blue {
    background-color: #254E77;
}

.popup {
    position: absolute;
}

.popup-info {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 145px;
    height: 42px;
    background-color: #000000;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 5px 10px;
    text-align: center;
    font-weight: 400;
}

.popup-info:before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #000000;
}

.amount-info {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}

.date-info {
    font-size: 10px;
    line-height: 12px;
    color: #7C7C7C;
}